@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* COLOURZ */
:root {
    --orange: rgb(235, 116, 32);
    --white: rgb(226, 226, 226);
    --black: #383838;
    --brown: rgb(64, 46, 50);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

/* SCROOLBAR */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--white);
    width: 100%;
    font-size: 2dvw;
}

ul {
    list-style: none;
}

.wrapper {
    width: 100%;
}

.nav {
    background: transparent;
}

.nav .img-members {
    position: relative;
    max-width: 100%;
    z-index: -1;
}

.nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    margin-top: -4dvw;

}

.nav ul li {
    padding: 0;
    margin: 0;
    width: 250px;

}

.nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    color: var(--orange);
    transition-duration: 0.2s;


}

.nav ul li a:hover {
    color: var(--white);
    text-shadow: -3px -2px 0px var(--orange), 3px 2px 0px var(--black);
}

.etb-logo {
    max-height: 25dvh;
    border-radius: 50%;
    border: 15px solid var(--orange);
    box-shadow: 5px 5px 0px 0px var(--black), 0px 0px 0px 12px var(--white);
}


section {
    color: var(--black);
    min-height: 50dvh;
    max-width: 80%;
    margin: auto;
}

section:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section:nth-child(3) {
    margin: auto;
    text-align: center;
}

section .erl-message {}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;

}

iframe {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 60%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

footer .socials a {
    text-decoration: none;
}

@media only screen and (max-width: 1440px) {
    body {
        font-size: 1.3dvw;
    }

    .nav ul {
        margin-top: -3dvw;
    }

    .nav ul li a {
        font-size: 1.5rem;
    }

    .etb-logo {
        max-height: 10dvw;
        border: 11px solid var(--orange);
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 1.5dvw;
    }

    .nav ul {
        margin-top: -4dvw;
    }

    .nav ul li a {
        font-size: 1.3rem;
    }

    .etb-logo {
        max-height: 13dvw;
        border: 15px solid var(--orange);
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1.5dvw;
    }

    .nav ul {
        margin-top: -3dvw;

    }

    .nav ul li a {
        font-size: 1rem;
    }

    .etb-logo {
        max-height: 15dvh;
        border: 6px solid var(--orange);
    }

    .iframe-wrapper iframe {}
}

@media only screen and (max-width: 668px) {
    body {
        font-size: 2dvw;
    }

    .nav ul {
        margin-top: -6dvw;
    }

    .nav ul li a {
        font-size: 3dvw;
    }

    .etb-logo {
        max-height: 15dvw;
        border-radius: 50%;
        border: 5px solid var(--orange);
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 2.3dvw;
    }

    .nav ul {
        margin-top: -6dvw;

    }

    .nav ul li a {
        font-size: 1rem;
    }

    .etb-logo {
        max-height: 15dvw;
        border-radius: 50%;
        border: 5px solid var(--orange);
    }

}


@media only screen and (max-width: 425px) {
    body {
        font-size: 3dvw;
    }

    .nav ul {
        margin-top: -5dvw;
    }

    .nav ul li a {
        font-size: 1rem;
    }


    .etb-logo {
        max-height: 15dvw;
        border: 5px solid var(--orange);
    }

    .section {}

    iframe {
        position: absolute;
        left: 5%;
        width: 90%;
        height: 90%;
    }

}