@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* COLOURZ */
:root {
    --orange: rgb(235, 116, 32);
    --white: rgb(224, 219, 216);
    --black: rgb(56, 56, 56);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* SCROOLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orange); 
}

body {
    font-family: 'Pangolin', cursive;
    background: var(--orange);
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 100%;
}

.nav {
    background: transparent;

}

.nav .img-members {
    position: relative;
    width: 100%;
    z-index: -1;
}

.nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: -4vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);

}

.nav ul li a:hover {
    color: rgb(224, 219, 216);
}

.etb-logo {
    max-height: 25dvh;
    border-radius: 50%;
    border: 15px solid var(--orange);
}

.content-wrapper {
    padding-top: 30dvh;
    margin: auto;
    width: 80%;
}

section {
    color: var(--black);
    text-align: center;
    min-height: 70dvh;
}

section h1 {
    font-size: 3rem;
}

@media only screen and (max-width: 600px) {
    .nav ul {
        margin-top: -7.5vw;

    }

    .nav ul li a {
        font-size: 1.2rem;
    }

    .etb-logo {
        max-height: 15dvh;
        border-radius: 50%;
        border: 5px solid var(--orange);
    }
}

@media only screen and (max-width: 668px) {
    .nav ul {
        margin-top: -7.5vw;
        
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .nav ul li a {
        font-size: 1.5rem;
    }



    .etb-logo {
        max-height: 15dvh;
        border-radius: 50%;
        border: 5px solid var(--orange);
    }
}

@media only screen and (max-width: 450px) {
    .nav ul {
        margin-top: -7vw;
        
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .nav ul li a {
        font-size: 1.2rem;
    }



    .etb-logo {
        max-height: 12dvh;
        border-radius: 50%;
        border: 5px solid var(--orange);
    }
}